.medistay1 {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 25px;
    color: inherit;
    display: inline-block;
    min-width: 88px;
    white-space: nowrap;
}

.log-out {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    cursor: pointer;
}

.log-out:hover {
    color: #0056b3;
}

.hospital-image {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 0px;
    width: 650px;
    height: auto;
    z-index: 1;
}

/* Styling for dropdown admin */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.navbar-inner {
    display: flex;
    align-items: center;
}
.frame-item,
.navbar {
    background-color: var(--color-aliceblue);
}
.navbar {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-35xl) 140px var(--padding-35xl) 104px;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--headline10-extrabold-size);
    color: var(--color-gray-100);
    font-family: var(--headline10-extrabold);
}

.rectangle-group {
    position: relative;
    align-self: stretch;
    background-color: var(--color-aliceblue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 105px 125px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--headline3-extrabold-size);
    color: var(--color-gray-100);
    font-family: var(--headline10-extrabold);
}

.find-your-healing {
    margin: 0;
    width: 650px;
    position: relative;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 10;
}
.medistay-provides-up-to-date {
    width: 620px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    z-index: 10;
}

/* Styling for dropdown select */
.dropdown-select {
    padding: 12px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 350px; /* Sesuaikan lebar sesuai kebutuhan */
    margin-right: 10px; /* Berikan margin agar tidak rapat */
}

/* Styling untuk wrapper */
.kelas-wrapper,
.spesialisasi-wrapper,
.usia-wrapper {
    margin-bottom: 10px; /* Berikan jarak antara setiap dropdown */
}

/* Styling untuk parent */
.frame-parent9 {
    display: flex;
    align-items: center;
}

/* Optional: Ubah warna saat dropdown di-hover */
.dropdown-select:hover {
    border-color: #888;
}

/* Optional: Ubah warna saat dropdown di-focus */
.dropdown-select:focus {
    outline: none;
    border-color: #555;
}

.frame-inner {
    position: relative;
    max-width: 100%;
    padding: 2rem;
    background-color: var(--color-lavender);
    display: none;
}
.cek-ketersediaan-kamar {
    margin: 0;
    width: 793px;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
}
.cek-ketersediaan-kamar-wrapper {
    width: 1062px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}
.rectangle-div {
    height: 58px;
    width: 882px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--base-white);
    display: none;
    max-width: 100%;
}
.pilih-rumah-sakit-wrapper {
    flex: 1; 
    max-width: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
}

.input-rumah-sakit {
    width: 100%; 
    align-self: stretch; 
    position: relative;
    line-height: 28px;
    font-weight: 500;
    border: none;
    outline: none;
}

.caretdown-icon {
    height: 32px;
    width: 32px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.frame-child1,
.group-div {
    border-radius: var(--br-3xs);
}
.group-div {
    flex: 1;
    background-color: var(--base-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-smi) var(--padding-6xl) var(--padding-smi)
        var(--padding-13xl);
    box-sizing: border-box;
    min-width: 573px;
    max-width: 100%;
    gap: var(--gap-xl);
    z-index: 1;
}
.frame-child1 {
    height: 58px;
    width: 137px;
    position: relative;
    background-color: var(--color-darkslateblue-100);
    display: none;
}
.cek {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 28px;
    font-weight: 700;
    font-family: var(--headline10-extrabold);
    color: var(--base-white);
    text-align: center;
    z-index: 1;
}
.frame-parent1,
.group-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.group-button {
    cursor: pointer;
    border: 0;
    padding: 7px;
    background-color: var(--color-darkslateblue-100);
    width: 130px;
    border-radius: var(--br-3xs);
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 1;
}
.ggsearch-parent:hover,
.group-button:hover {
    background-color: var(--color-steelblue);
}
.frame-parent1 {
    width: 1062px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 43px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
}
.homepage-inner,
.rectangle-container {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}
.rectangle-container {
    flex: 1;
    background-color: var(--color-lavender);
    flex-direction: column;
    align-items: center;
    padding: 95px var(--padding-xl) 94px;
    gap: 54px;
}
.homepage-inner {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 83px;
    text-align: center;
    font-size: 36px;
    color: var(--color-gray-100);
    font-family: var(--headline10-extrabold);
}
.informasi-ketersediaan-kamar {
    margin: 0;
    width: 965px;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 100%;
}
.informasi-ketersediaan-kamar-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-124xl) var(--padding-2xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-gray-100);
    font-family: var(--headline10-extrabold);
}
.filter,
.status {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
}
.status {
    display: inline-block;
    min-width: 106px;
}
.filter {
    width: 101px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.status-parent {
    width: 790px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}
.bed-icon {
    height: 23px;
    width: 30.5px;
    position: relative;
}
.tempat-tidur-terpakai {
    display: inline-block;
    min-width: 184px;
}
.b,
.tempat-tidur-terpakai {
    flex: 1;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.bed-parent,
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrapper {
    width: 76px;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkslateblue-100);
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-3xs);
    box-sizing: border-box;
    text-align: center;
    color: var(--base-white);
}
.bed-parent {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.bed-icon1 {
    height: 23px;
    width: 30.5px;
    position: relative;
}
.tempat-tidur-kosong {
    display: inline-block;
    min-width: 175px;
}
.b1,
.tempat-tidur-kosong {
    flex: 1;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.bed-group,
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container {
    width: 76px;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkslateblue-100);
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-3xs);
    box-sizing: border-box;
    text-align: center;
    color: var(--base-white);
}
.bed-group {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.bed-icon2 {
    height: 23px;
    width: 30.5px;
    position: relative;
}
.total-tempat-tidur {
    display: inline-block;
    min-width: 154px;
}
.b2,
.total-tempat-tidur {
    flex: 1;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.bed-container,
.frame {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.frame {
    width: 76px;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkslateblue-100);
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-3xs);
    box-sizing: border-box;
    text-align: center;
    color: var(--base-white);
}
.bed-container {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.frame-parent5,
.frame-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent5 {
    align-self: stretch;
    gap: var(--gap-xl);
}
.frame-wrapper3 {
    width: 456.5px;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}
.kelas {
    flex: 1;
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    min-width: 62px;
}
.kelas-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
}
.spesialisasi,
.usia {
    position: relative;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
}
.spesialisasi {
    align-self: stretch;
    min-width: 123px;
}
.usia {
    width: 50px;
    min-width: 50px;
}
.frame-parent7,
.frame-wrapper4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.frame-parent7 {
    align-self: stretch;
    align-items: flex-end;
    gap: 54.5px;
}
.frame-wrapper4 {
    width: 123px;
    align-items: flex-start;
    padding: var(--padding-4xs) 0 0;
    box-sizing: border-box;
    margin-left: 90px;
}
.div {
    position: relative;
    font-size: var(--font-size-mid-8);
    line-height: 25px;
    font-weight: 500;
    font-family: var(--headline10-extrabold);
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
    min-width: 18px;
}
.vector-icon55 {
    width: 19.6px;
    height: 10.7px;
    position: relative;
}
.parent,
.vector-frame {
    box-sizing: border-box;
    display: flex;
}
.vector-frame {
    width: 37.4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs-9) var(--padding-5xs);
}
.parent {
    align-self: stretch;
    border-radius: 8.91px;
    border: 0.9px solid var(--color-dimgray);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-4xs-9) var(--padding-4xs) var(--padding-4xs-9)
        var(--padding-5xs);
    gap: var(--gap-xl);
}
.div1 {
    position: relative;
    font-size: var(--font-size-mid-8);
    line-height: 25px;
    font-weight: 500;
    font-family: var(--headline10-extrabold);
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
    min-width: 18px;
}
.vector-icon56 {
    width: 19.6px;
    height: 10.7px;
    position: relative;
}
.parent1,
.vector-wrapper1 {
    box-sizing: border-box;
    display: flex;
}
.vector-wrapper1 {
    width: 37.4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) var(--padding-5xs) 8.8px;
}
.parent1 {
    align-self: stretch;
    border-radius: 8.91px;
    border: 0.9px solid var(--color-dimgray);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-4xs-9) var(--padding-4xs) var(--padding-4xs-9)
        var(--padding-5xs);
    gap: var(--gap-xl);
}
.div2 {
    position: relative;
    font-size: var(--font-size-mid-8);
    line-height: 25px;
    font-weight: 500;
    font-family: var(--headline10-extrabold);
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
    min-width: 18px;
}
.vector-icon57 {
    width: 19.6px;
    height: 10.7px;
    position: relative;
}
.vector-wrapper2 {
    width: 37.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs-9) var(--padding-5xs);
    box-sizing: border-box;
}
.frame-parent9,
.parent2 {
    align-self: stretch;
    display: flex;
}
.parent2 {
    border-radius: 8.91px;
    border: 0.9px solid var(--color-dimgray);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-4xs-9) var(--padding-4xs) var(--padding-4xs-9)
        var(--padding-5xs);
    gap: var(--gap-xl);
}
.frame-parent9 {
    height: 205px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-14xl);
}
.ggsearch-icon {
    height: 21.4px;
    width: 21.4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.cari {
    position: relative;
    font-size: var(--font-size-mid-8);
    line-height: 25px;
    font-weight: 500;
    font-family: var(--headline10-extrabold);
    color: var(--base-white);
    text-align: left;
    display: inline-block;
    min-width: 36px;
}
.ggsearch-parent {
    cursor: pointer;
    border: 0.9px solid var(--color-dimgray);
    padding: var(--padding-4xs-9) var(--padding-6xl);
    background-color: var(--color-darkslateblue-100);
    height: 45px;
    border-radius: 8.91px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.ggsearch-parent:hover {
    border: 0.9px solid #7a8785;
    box-sizing: border-box;
}
.frame-parent4,
.frame-parent6,
.frame-parent8 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}
.frame-parent8 {
    margin: 0;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-14xl);
    min-width: 262px;
}
.frame-parent4,
.frame-parent6 {
    flex-direction: row;
}
.frame-parent6 {
    width: 100px;
    justify-content: flex-start;
    gap: var(--gap-3xl);
    min-width: 547.9px;
    text-align: center;
    margin-right: 0px;
}
.frame-parent4 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
}
.frame-wrapper2 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-3xl);
    box-sizing: border-box;
    font-size: var(--font-size-xl);
}
.frame-parent3,
.frame-wrapper1,
.frame-wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.frame-parent3 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-8xl);
}
.frame-wrapper1 {
    width: 1050px;
    flex-direction: row;
    padding: 0 48px;
    box-sizing: border-box;
}
.kelas1,
.spesialis {
    position: relative;
    z-index: 2;
}
.kelas1 {
    width: 94.1px;
    line-height: 23.8px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.spesialis {
    flex: 1;
    line-height: 23.6px;
    display: inline-block;
    min-width: 84px;
}
.frame-wrapper5,
.kelas-parent {
    display: flex;
    align-items: flex-start;
}
.kelas-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    gap: 75px;
}
.frame-wrapper5 {
    width: 382.8px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 22.5px;
    box-sizing: border-box;
    max-width: 100%;
}
.jenis-kelamin,
.usia1 {
    flex: 1;
    position: relative;
    line-height: 23.6px;
    font-weight: 700;
    display: inline-block;
    min-width: 157px;
    z-index: 2;
}
.jenis-kelamin {
    z-index: 3;
    margin-left: -22.4px;
}
.frame-wrapper6,
.usia-parent {
    display: flex;
    align-items: flex-start;
}
.usia-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 20px;
}
.frame-wrapper6 {
    width: 461.4px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-4xl);
    box-sizing: border-box;
    max-width: 100%;
}
.frame-child2 {
    height: 90px;
    width: 1325.7px;
    position: absolute;
    margin: 0 !important;
    bottom: -10px;
    left: -1012px;
    border-radius: var(--br-3xs) var(--br-3xs) 0 0;
    background-color: var(--base-white);
    z-index: 1;
}
.kamar-tidur {
    flex: 1;
    position: relative;
    line-height: 23.6px;
    font-weight: 700;
    display: inline-block;
    min-width: 157px;
    z-index: 2;
}
.frame-wrapper7,
.rectangle-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.rectangle-parent1 {
    flex: 1;
    justify-content: flex-start;
    position: relative;
}
.frame-wrapper7 {
    align-self: stretch;
    height: 84px;
    justify-content: flex-end;
    padding: 0 var(--padding-14xl) 0 0;
    box-sizing: border-box;
}
.kosong {
    width: 115.1px;
    height: 23.3px;
    position: relative;
    line-height: 108px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
}
.frame-parent14 {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 0.7px;
    box-sizing: border-box;
}
.isi {
    width: 35px;
    position: relative;
    line-height: 23.8px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
    margin-left: -261.2px;
}
.frame-parent11,
.frame-parent12,
.frame-parent13 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.frame-parent13 {
    width: 275px;
    justify-content: flex-start;
    min-width: 275px;
}
.frame-parent11,
.frame-parent12 {
    max-width: 100%;
}
.frame-parent12 {
    width: 848.8px;
    justify-content: space-between;
    min-width: 848.8px;
    gap: var(--gap-xl);
}
.frame-parent11 {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 14px var(--padding-3xs);
    box-sizing: border-box;
    gap: 41.4px;
}
.kelas-1 {
    align-self: stretch;
    position: relative;
}
.kelas-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xl) 0 0;
    box-sizing: border-box;
}
.ksm-bedah {
    width: 147px;
    position: relative;
    display: inline-block;
    margin-left: 100px;
    padding-left: 40px;
}
.ksm-bedah-wrapper {
    width: 207px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    text-align: left;
}
.dewasa {
    text-align: left;
    flex-shrink: 0;
}
.dewasa,
.semua {
    margin-left: 222px;
    position: relative;
    display: inline-block;
}
.semua-wrapper {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.div3 {
    margin-left: 200px;
    align-self: stretch;
    position: relative;
}
.wrapper1 {
    width: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-19xl) 0 0;
    box-sizing: border-box;
}
.div4 {
    margin-left: 400px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.frame-parent15,
.tabel-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    align-content:center ;
}
.frame-parent15 {
    flex: 1;
    padding: 10px;
}
.tabel-inner {
    width: 1110px;
    justify-content: flex-start;
    padding: 0 var(--padding-2xl);
    box-sizing: border-box;
    margin: 30px 0px;

}
.kelas-11 {
    align-self: stretch;
    position: relative;
}
.kelas-1-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}
.ksm-bedah1 {
    width: 100px;
    margin-left: 110px;
    position: relative;
    display: inline-block;
}
.ksm-bedah-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}
.dewasa1,
.ksm-bedah-container {
    text-align: left;
    flex-shrink: 0;
}
.dewasa1 {
    margin-left: 120px;
    position: relative;
    display: inline-block;
}
.semua-container {
    margin-left: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.div5 {
    margin-left: 170px;
    align-self: stretch;
    position: relative;
}
.wrapper2 {
    width: 91.2px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-19xl) 0 0;
    box-sizing: border-box;
}
.div6 {
    margin-left: 290px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.table {
    background-color: var(--color-lavender);
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-xl) var(--padding-4xl) var(--padding-2xl);
    box-sizing: border-box;
}

.frame-parent10,
.tabel {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
}
.tabel {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 var(--br-3xs) var(--br-3xs);
    background-color: var(--base-white);
    box-sizing: border-box;
    gap: var(--gap-4xl);
    max-width: 100%;
    font-size: var(--body16-regular-size);
    font-family: var(--font-inter);
}
.frame-parent10 {
    text-align: center;
    font-size: var(--font-size-xl);
}
.frame-parent10,
.frame-parent2,
.homepage-child {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}
.frame-parent2 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 51.2px;
}
.homepage-child {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 57px 270px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-gray-100);
    font-family: var(--headline10-extrabold);
}
.footer-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-darkslateblue-100);
}
.stay1 {
    color: var(--color-lavender);
}
.zerowaste {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    white-space: nowrap;
    z-index: 1;
}
.b3-waste,
.categories,
.inorganic-waste,
.organic-waste {
    position: relative;
    line-height: 24px;
}
.categories-parent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xl);
}
.about,
.our-mission,
.our-values {
    position: relative;
    line-height: 24px;
    display: inline-block;
}
.about {
    font-weight: 700;
    min-width: 61px;
}
.our-mission,
.our-values {
    min-width: 88px;
}
.our-mission {
    min-width: 96px;
}
.about-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xl);
    min-width: 96px;
}
.contact {
    font-weight: 700;
    display: inline-block;
    min-width: 81px;
}
.contact,
.email,
.zerowasteexamplecom {
    position: relative;
    line-height: 24px;
}
.email {
    display: inline-block;
    min-width: 54px;
}
.zerowasteexamplecom {
    white-space: nowrap;
}
.contact-parent,
.frame-parent16,
.zerowaste-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.contact-parent {
    flex-direction: column;
    gap: 12px;
}
.frame-parent16,
.zerowaste-parent {
    flex-direction: row;
    max-width: 100%;
}
.frame-parent16 {
    flex: 1;
    gap: 95px;
    min-width: 239px;
    z-index: 1;
    font-size: var(--body16-regular-size);
}
.zerowaste-parent {
    width: 682px;
    gap: 117px;
}
.make-a-difference {
    height: 0;
    width: 246px;
    position: relative;
    font-size: var(--headline9-extrabold-size);
    display: none;
    flex-shrink: 0;
    z-index: 2;
}
.follow-us {
    position: relative;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    min-width: 102px;
    z-index: 1;
}
.youtubelogo-icon {
    height: 22px;
    width: 28px;
    position: relative;
}
.facebooklogo-icon,
.instagramlogo-icon {
    height: 23px;
    width: 23px;
    position: relative;
    min-height: 23px;
}
.facebooklogo-icon {
    height: 22.9px;
}
.twitterlogo-icon {
    width: 23px;
    height: 20.4px;
    position: relative;
}
.twitterlogo-wrapper {
    flex-direction: column;
    padding: 1.3px 0 0;
}
.follow-us-parent,
.twitterlogo-wrapper,
.youtubelogo-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.youtubelogo-parent {
    flex-direction: row;
    gap: var(--gap-mini);
    z-index: 1;
}
.follow-us-parent {
    flex-direction: column;
    gap: var(--gap-3xl);
    font-size: var(--body16-regular-size);
}
.footer,
.homepage {
    position: relative;
    display: flex;
}
.footer {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 107px 148px 141px 100px;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--headline4-extrabold-size);
    color: var(--base-white);
    font-family: var(--headline10-extrabold);
}
.homepage {
    width: 100%;
    background-color: var(--base-white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
    .frame-parent6,
    .frame-wrapper3 {
        flex: 1;
    }
    .frame-parent4 {
        flex-wrap: wrap;
    }
    .frame-wrapper1 {
        padding-left: var(--padding-5xl);
        padding-right: var(--padding-5xl);
        box-sizing: border-box;
    }
    .frame-parent12 {
        flex: 1;
    }
    .frame-parent11 {
        flex-wrap: wrap;
    }
    .table {
        padding-right: var(--padding-13xl);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1150px) {
    .frame-parent6 {
        min-width: 100%;
    }
    .frame-parent13 {
        flex: 1;
    }
    .frame-parent12 {
        flex-wrap: wrap;
        min-width: 100%;
    }
    .frame-parent15 {
        flex-wrap: wrap;
    }
    .homepage-child {
        padding-bottom: 175px;
        box-sizing: border-box;
    }
    .footer {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 800px) {
    .navbar {
        padding-left: 52px;
        padding-right: var(--padding-51xl);
        box-sizing: border-box;
    }
    .find-your-healing {
        font-size: 38px;
    }
    .rectangle-group {
        padding-left: var(--padding-31xl);
        padding-top: 47px;
        padding-bottom: var(--padding-124xl);
        box-sizing: border-box;
    }
    .cek-ketersediaan-kamar {
        font-size: var(--font-size-10xl);
    }
    .group-div {
        flex-wrap: wrap;
        justify-content: center;
        min-width: 100%;
    }
    .frame-parent1 {
        gap: var(--gap-2xl);
    }
    .rectangle-container {
        gap: var(--gap-8xl);
    }
    .filter,
    .informasi-ketersediaan-kamar,
    .status {
        font-size: var(--font-size-5xl);
    }
    .bed-container,
    .bed-group,
    .bed-parent {
        flex-wrap: wrap;
    }
    .frame-wrapper3 {
        min-width: 100%;
    }
    .frame-parent6 {
        flex-wrap: wrap;
    }
    .frame-parent11 {
        gap: var(--gap-2xl);
    }
    .frame-parent2 {
        gap: var(--gap-7xl);
    }
    .homepage-child {
        padding-left: var(--padding-9xl);
        padding-right: var(--padding-9xl);
        box-sizing: border-box;
    }
    .zerowaste {
        font-size: 32px;
    }
    .zerowaste-parent {
        flex-wrap: wrap;
        gap: 58px;
    }
    .footer {
        padding-left: var(--padding-31xl);
        padding-right: 74px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
    .find-your-healing {
        font-size: var(--font-size-10xl);
    }
    .medistay-provides-up-to-date {
        font-size: var(--body16-regular-size);
        line-height: 24px;
    }
    .rectangle-group {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
    .cek-ketersediaan-kamar {
        font-size: var(--headline9-extrabold-size);
    }
    .cek,
    .pilih-rumah-sakit {
        font-size: var(--body16-regular-size);
        line-height: 22px;
    }
    .homepage-inner {
        padding-bottom: var(--padding-35xl);
        box-sizing: border-box;
    }
    .filter,
    .informasi-ketersediaan-kamar,
    .status {
        font-size: var(--headline10-extrabold-size);
    }
    .status-parent {
        flex-wrap: wrap;
    }
    .b,
    .b1,
    .b2,
    .kelas,
    .spesialisasi,
    .tempat-tidur-kosong,
    .tempat-tidur-terpakai,
    .total-tempat-tidur,
    .usia {
        font-size: var(--body16-regular-size);
        line-height: 22px;
    }
    .frame-parent8,
    .frame-parent9 {
        gap: var(--gap-base);
    }
    .kelas1,
    .spesialis {
        font-size: var(--body16-regular-size);
        line-height: 86px;
    }
    .kelas-parent {
        flex-wrap: wrap;
        gap: var(--gap-4xl);
    }
    .jenis-kelamin,
    .usia1 {
        font-size: var(--body16-regular-size);
        line-height: 86px;
    }
    .jenis-kelamin {
        margin-left: 0;
    }
    .usia-parent {
        flex-wrap: wrap;
    }
    .isi,
    .kamar-tidur,
    .kosong {
        font-size: var(--body16-regular-size);
        line-height: 86px;
    }
    .homepage-child {
        padding-bottom: 114px;
        box-sizing: border-box;
    }
    .zerowaste {
        font-size: var(--font-size-5xl);
    }
    .about-parent {
        flex: 1;
    }
    .frame-parent16 {
        flex-wrap: wrap;
        gap: 47px;
    }
    .zerowaste-parent {
        gap: var(--gap-10xl);
    }
    .make-a-difference {
        font-size: var(--headline10-extrabold-size);
    }
    .footer {
        padding: var(--padding-51xl) var(--padding-xl) 92px;
        box-sizing: border-box;
    }
}
