body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.medistay {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}

.medistay-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1vw;
}

.stay {
  color: #17467f;
}

.welcome-to-medistay-container {
  margin-top: 100px;
  
}

.hospital-image {
  position: fixed; 
  bottom: 0; 
  right: 0;
  width:550px; 
  height: auto; 
  z-index: 10;
}

.sign-in-to {
  margin-bottom: 50px;
  
}

.sign-in-to,
.welcome-to-medistay-container {
  align-self: stretch;
  position: relative;
}

.frame-wrapper,
.welcome-to-medistay-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.welcome-to-medistay-parent {
  flex: 1;
  flex-direction: column;
  gap: 1vh;
}

.frame-wrapper {
  width: 90vw;
  flex-direction: row;
  padding: 0 1vw;
  box-sizing: border-box;
}

.username,
.password {
  width: 80vw;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--headline10-extrabold);
  font-size: var(--font-size-mid-8);
  background-color: transparent;
  height: 5vh;
  position: relative;
  line-height: 24.96px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  padding: 0;
}

.username-parent,
.password-parent {
  width: 70%;
  height: 6vh;
  border-radius: 8.91px;
  border: 2px solid var(--color-darkslateblue-100);
  display: flex;
  flex-direction: row;
  padding: 1vh 1vw;
  gap: 1vw;
  margin-left: 15px;
}

.frame-child {
  height: 58px;
  width: 161px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  display: none;
}

.sign-in {
  width: 70px;
  padding: 5px;
  margin-left: 5px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 650px;
  font-family: var(--headline10-extrabold);
  color: var(--base-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}

.rectangle-parent {
  width: 30%;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  border: 0;
  padding: 1vh 2vw;
  background-color: var(--color-darkslateblue-100);
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  margin-left: 15px;
}

.rectangle-parent:hover {
  background-color: var(--color-steelblue);
}

.forgot-password {
  position: relative;
  margin-left: 10px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  font-family: var(--headline10-extrabold);
  color: var(--color-darkslateblue-100);
  text-align: left;
  display: inline-block;
  min-width: 106px;
}

.forgot-password-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1vw;
}

.frame-container,
.frame-div,
.frame-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-div {
  width: 40vw;
  padding: 0 1vw 0 0;
  box-sizing: border-box;
  gap: 1vh;
}

.frame-container,
.frame-form {
  flex-shrink: 0;
}

.frame-form {
  margin: 0;
  align-self: stretch;
  height: 40vh;
  gap: 2vh;
}

.frame-container {
  width: 60vw;
  padding: 1vh 0 0;
  box-sizing: border-box;
}

.robert-garcia-icon {
  position: absolute;
  height: calc(100% - 0.9px);
  top: 0;
  bottom: 0.9px;
  left: 31.4px;
  max-height: 100%;
  width: 70vw;
}

.about-me-icon {
  top: 50vh;
  left: 40vw;
  width: 1px;
  height: 1px;
  z-index: 5;
}

.i-am-looking-to-add-more-skill {
  position: absolute;
  top: 60vh;
  left: 30vw;
  width: 50px;
  height: 20px;
  z-index: 5;
}

.action-bars-icon {
  position: absolute;
  top: 30vh;
  left: 60vw;
  width: 10vw;
  height: 10vh;
  z-index: 4;
}

.action-icon,
.i-am-a-frontend-developer-base,
.i-am-a-frontend-developer-base1 {
  position: absolute;
  top: 35vh;
  left: 70vw;
  width: 10vw;
  height: 10vh;
  z-index: 4;
}

.button-icon,
.circle-icon,
.title-icon {
  position: absolute;
  top: 20vh;
  left: 50vw;
  width: 1vw;
  height: 5vh;
  z-index: 5;
}

.circle-icon,
.title-icon {
  left: 60vw;
}

.circle-icon {
  left: 70vw;
}

.robert-garcia-parent {
  height: 70vh;
  width: 70vw;
  position: relative;
  max-width: 100%;
}

.group {
  width: 100vw;
  flex-direction: row;
  padding: 0 0 1vh;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
}

.frame-group,
.frame-parent,
.group,
.login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-group {
  align-self: stretch;
  height: 100vh;
  flex-direction: row;
  padding: 0 0 1vh;
  box-sizing: border-box;
  gap: 1vw;
  max-width: 100%;
}

.frame-parent,
.login {
  flex-direction: column;
  text-align: left;
  color: var(--color-gray-100);
  font-family: var(--headline10-extrabold);
}

.frame-parent {
  align-self: stretch;
  gap: 1vh;
  max-width: 100%;
  font-size: var(--font-size-16xl);
}

.login {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue);
  overflow: hidden;
  padding: 2vh 0 0 5vw;
  box-sizing: border-box;
  gap: 2vh;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--headline10-extrabold-size);
}

@media screen and (max-width: 1350px) {
  .frame-container {
    max-width: 100%;
  }
  .group {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .sign-in-to,
  .welcome-to-medistay-container {
    font-size: var(--font-size-9xl);
  }
  .frame-form {
    gap: var(--gap-base);
  }
  .frame-group,
  .login {
    box-sizing: border-box;
  }
  .frame-group {
    gap: 2vh;
    padding-bottom: 2vh;
  }
  .login {
    gap: 2vh;
    padding-left: 2vw;
  }
}

@media screen and (max-width: 450px) {
  .sign-in-to,
  .welcome-to-medistay-container {
    font-size: var(--font-size-2xl);
  }
  .frame-group {
    gap: 1vh;
  }
  .login {
    gap: 1vh;
    padding-left: 1vw;
    box-sizing: border-box;
  }
}
